/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');
  html{
    scroll-behavior: smooth;
  }
  /* Global styles */
  body {
    font-family: "Signika Negative", sans-serif;
    font-weight: light;
    line-height: 1.6;
    background-color: #f2f2f2;
    color: #333;
  }
  
  header h1 {
    font-family: "Signika Negative", sans-serif;
    font-size: 36px;
    font-weight: bold;
    vertical-align:middle;
    display: inline;
    color: #2058c8;
  }
  #hero {
    margin-top: 10px;
    text-align: center;
  }
  #hero h1 {
    color: #f2f2f2;
    font-weight: 700;
  }
  #hero h2 {
    color: #f2f2f2;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 30px;
  }
  
  #hero p {
    color: #f2f2f2;
    font-size: 18px;
    margin-bottom: 40px;
    padding-right:50px;
    padding-left:50px;
  }
  .jumbotron{
    background-color: transparent;
  }
  .jumbotron-fluid{
    padding-right:20px;
    padding-left:20px;

  }
  #hero img{
    margin-bottom: 1rem
  }

  
  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #ff7f00;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #ff9933;
  }
  
  #about {
    padding: 80px;
    background-color: #fff;
    color: #333;
  }
  
  #about h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  #about p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  #services {
    padding: 30px;
    background-color: #f2f2f2;
    color: #333;
  }
  
  #services h1 {
    margin: 30px 0 30px 0;
    font-family:"Signika Negative", sans-serif;
    font-size: 60px;
    font-weight: bold;
  }
  #services p {
    font-size: 1.1rem;
  }

  #logo-holder {
    position:relative; width:100%; height:100%;
  }
#logo-holder .image,
#logo-holder .text {
  transition: opacity 0.5s ease-in-out;
}
#logo-holder .text {
  position:absolute; top:0; left:0; opacity:0;
}
#logo-holder:hover .image {
  opacity:0;}

#logo-holder:hover .text {
  opacity:1;
}
.text{
  font-size: 1rem;
  padding: 10px;
  text-align: center;
}
.caption{
text-align: center;
}
  #contact {
    font-size: 2rem;
    color: #fff;
    display: flex;
    justify-content: center;
     align-items: center;
     margin-top: 30px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .area{
    background-image: linear-gradient(#2058c8,#92abd9);
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    
   
}

.circles{
  pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}